.container {
  gap: 40px;
  flex: 1 0;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 16px;
  max-width: 1200px;
  flex-direction: row;
}

.left-side,
.list {
  flex: 1 0;
}

.left-side {
  align-items: center;
}

.loading {
  &:after {
    content: "...";
  }
  padding: 80px 0;
  font-style: italic;
  flex-direction: row;
  justify-content: center;
}
